<html>
  <head>
    <title>FlightBookr</title>

    <!-- foundation-icons.css links to images that are not bundled -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foundation-icons.css') }}" />

    {% assets filters="cssmin", output="gen/packed.css",
        'foundation.min.css',
        'normalize.css',
        'style.css',
        'parsley.css'
    %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
    
    {% assets filters="jst", output="gen/jst.js", "templates/*.jst" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets filters="jsmin", output="gen/packed.js",
        "javascripts/jquery-1.11.1.min.js",
        "javascripts/underscore-min.js",
        "javascripts/backbone-min.js",
        "javascripts/backbone.marionette.js",
        "javascripts/backbone.syphon.min.js",
        "javascripts/moment.min.js",
        "javascripts/foundation.min.js",
        "javascripts/parsley.min.js",
        "javascripts/application.js"   
    %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}    

  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">FlightBookr</a></h1>
      </li>
      <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li><a href="/">Purchase Trip</a></li>
      </ul>
    </section>
    </nav>

    <div id="error"></div>
    <div id="content">
      Loading...
    </div>
  </body>
</html>
