<!-- Used by Marionette BookedSuccessView -->
<div class="row">
    <div class="small-8 small-offset-2 columns end">
        <h1>Congratulations!</h1>
	<div class="booking-container">
	    Your confirmation code is <strong><%= confirmation %></strong>
        </div>
    </div>
</div>
